<a href="https://colab.research.google.com/github/CarmenSosaO/CyPg1157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TIPOS DE DATOS ESTRUCTURADOS DE PYTHON

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

#LISTAS

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
  - usando [ ]
  - usando list ()  constructor list
  -Usando un generador
- Puede contener tipos de dato diversos (en otros lenguajes de prog, eso no es posible de forma directa)
- Los elementos internos se seleciconan con [ ] 
- Soporta slicing
- SON MUTABLES (Se pueen modificar a lo largo del programa)
-GENERADORES [variable for x in rango (valor del rango)] 
- Al ser una clase contiene muchos métodos útiles

In [22]:
numeros = [10, 5, 2, 3, 1 ]
print (numeros)

numeros2 = list() #declarara lista vacia e ir integrando valores
numeros2.append(10) # método append agregar nuevos elementos a una lista
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)

print(numeros2)
numeros[2] = 20  #cambiar el valor de uno de los elemtnos de la lista, en este caso el 2
print(numeros)
numeros[-1] = 33

print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]

In [16]:
#EJEMPLOS DE CÓMO LAS LISTAS PUEDE CONTENER DATOS DIVERSOS

cosas = [12, 2, True, "José", 1.57, ["pera", "kiwi", "uva" ] ]
print(cosas)
print(cosas [1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1]) #hay dos selectores [], el primer selector, llama a la lista
#como el elemento seleccionado es una lista puedo sacar un segundo selector para seleccionar otro elemento de ella
print(cosas[3][1:3:]) #seleccionar solo la os de Jose
cosas[3] =cosas[3].upper() #convertir en mayusculas
print (cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [21]:
numeros = [1,2,3,4,5,6,7,8,9,10,11] 
print(numeros)
# EJERICIO 1. Con slicing. obtener del 4 al 8
print(numeros[3:8] ) #se coloca una posición extra
#EJERCICIO 2. obtener [9,10] 
print (numeros[8:10] )
print (numeros[-3:-1:] )
#EJERCICIO 3. Imprimir la lista en orden inverso [11, 10, 9, ...1] con slicing
print(numeros [::-1] )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [27]:
#CREAR UNA LISTA CON UN GENERADOR
numeros = [x for x in range (101)] # es hasta el 100, el tope no se incluye
print(numeros) 

#multiplicar cada valor por 3
numeros = [x*3 for x in range (101)]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#FUNCION RANGO range()
Tiene los mismos componentes que slicing
inicio, stop, incremento

range(1,101, 1)

In [32]:
numeros = [x for x in range (50,101)] #cambia el inicio
print(numeros)
numeros = [x for x in range (50,101, 5)] #cambia el incremento
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#MÉTODOS DISPONIBLES DE LAS LISTAS
 FUNCIÓN DIR

In [33]:
dir(list)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [ ]:
numeros = [4, 1, 15, 8, 22, 34, 50]
print(numeros)
numeros.append(99) #agrega un 99
print(numeros)
numeros.clear() #limpia la lista
print(numeros)
#ALTERNATIVA PARA LIMPIAR LISTA
numeros = []  #reescribir los datos de la lista. lista vacia
print (numeros)

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas   #copio los valores de la lista frutas. Hace referencia a la lista por lo que dará los mismos que frutas
#si se modifica frutas, tambien la copia

print( frutas)
print (copia)
 frutas.append("naranjas")
 print(frutas)
 print(copia)

colores = ["rojo", "azul", "blanco"]
copia2 =colores.copy()  #con copy, se vuelven independientes, auqnue se modifique la primera, la copia no
print(colores)
print(copia2)
colores.append("verde")
print(colores)
print(copia2)

In [49]:
#EXTEND

nombre = ["jose", "pedro", "karina"]
otrosNombres = ["josue", "diana", "dalia"]
print(nombre)
print(otrosNombres)
nombres = nombre + otrosNombres   #concatenar las dos listas
print(nombres)
print(otrosNombres)
#TAMBIÉN SE PUEDE CONCATENAR CON FUNCION EXTEND
otrosNombres.extend ( ["jesus", "maria", "jose"])
print(otrosNombres)

#INDEX
print("Jesus esta en la posicion:" , otrosNombres.index("jesus"))

#iNSERT TE PERMITE INSERTAR VALORES EN UNA PASICION Y LOS RECORRE HACIA LA IZQUIERDA
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#POP saca el ultimo elemento y te lo regresa
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

['jose', 'pedro', 'karina']
['josue', 'diana', 'dalia']
['jose', 'pedro', 'karina', 'josue', 'diana', 'dalia']
['josue', 'diana', 'dalia']
['josue', 'diana', 'dalia', 'jesus', 'maria', 'jose']
Jesus esta en la posicion: 3
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria', 'jose']
['josue', 'diana', 'dalia', 'jesus', 'espiritu santo', 'maria']
jose