<a href="https://colab.research.google.com/github/CarmenSosaO/CyPg1157/blob/main/Fundamentos2_CyP_1157.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#TIPOS DE DATOS ESTRUCTURADOS DE PYTHON

1. Listas
2. Tuplas
3. Diccionarios
4. Conjuntos (opcional)

#LISTAS

- Tipo de dato que agrupa variables o valores.
- Estructura secuencial (indexados empezando por 0)
- Se declara de dos formas
  - usando [ ]
  - usando list ()  constructor list
  -Usando un generador
- Puede contener tipos de dato diversos (en otros lenguajes de prog, eso no es posible de forma directa)
- Los elementos internos se seleciconan con [ ] 
- Soporta slicing
- SON MUTABLES (Se pueen modificar a lo largo del programa)
-GENERADORES [variable for x in rango (valor del rango)] 
- Al ser una clase contiene muchos métodos útiles

In [ ]:
numeros = [10, 5, 2, 3, 1 ]
print (numeros)

numeros2 = list() #declarara lista vacia e ir integrando valores
numeros2.append(10) # método append agregar nuevos elementos a una lista
numeros2.append(5)
numeros2.append(2)
numeros2.append(3)
numeros2.append(1)

print(numeros2)
numeros[2] = 20  #cambiar el valor de uno de los elemtnos de la lista, en este caso el 2
print(numeros)
numeros[-1] = 33

print(numeros)

[10, 5, 2, 3, 1]
[10, 5, 2, 3, 1]
[10, 5, 20, 3, 1]
[10, 5, 20, 3, 33]

In [ ]:
#EJEMPLOS DE CÓMO LAS LISTAS PUEDE CONTENER DATOS DIVERSOS

cosas = [12, 2, True, "José", 1.57, ["pera", "kiwi", "uva" ] ]
print(cosas)
print(cosas [1])
print(cosas[4])
print(cosas[5])
print(cosas[5][1]) #hay dos selectores [], el primer selector, llama a la lista
#como el elemento seleccionado es una lista puedo sacar un segundo selector para seleccionar otro elemento de ella
print(cosas[3][1:3:]) #seleccionar solo la os de Jose
cosas[3] =cosas[3].upper() #convertir en mayusculas
print (cosas)

[12, 2, True, 'José', 1.57, ['pera', 'kiwi', 'uva']]
2
1.57
['pera', 'kiwi', 'uva']
kiwi
os
[12, 2, True, 'JOSÉ', 1.57, ['pera', 'kiwi', 'uva']]

In [ ]:
numeros = [1,2,3,4,5,6,7,8,9,10,11] 
print(numeros)
# EJERICIO 1. Con slicing. obtener del 4 al 8
print(numeros[3:8] ) #se coloca una posición extra
#EJERCICIO 2. obtener [9,10] 
print (numeros[8:10] )
print (numeros[-3:-1:] )
#EJERCICIO 3. Imprimir la lista en orden inverso [11, 10, 9, ...1] con slicing
print(numeros [::-1] )

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]
[4, 5, 6, 7, 8]
[9, 10]
[9, 10]
[11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
#CREAR UNA LISTA CON UN GENERADOR
numeros = [x for x in range (101)] # es hasta el 100, el tope no se incluye
print(numeros) 

#multiplicar cada valor por 3
numeros = [x*3 for x in range (101)]
print(numeros)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99, 102, 105, 108, 111, 114, 117, 120, 123, 126, 129, 132, 135, 138, 141, 144, 147, 150, 153, 156, 159, 162, 165, 168, 171, 174, 177, 180, 183, 186, 189, 192, 195, 198, 201, 204, 207, 210, 213, 216, 219, 222, 225, 228, 231, 234, 237, 240, 243, 246, 249, 252, 255, 258, 261, 264, 267, 270, 273, 276, 279, 282, 285, 288, 291, 294, 297, 300]

#FUNCION RANGO range()
Tiene los mismos componentes que slicing
inicio, stop, incremento

range(1,101, 1)

In [ ]:

numeros = [x for x in range (50,101)] #cambia el inicio
print(numeros)
numeros = [x for x in range (50,101, 5)] #cambia el incremento
print(numeros)

[50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]

#MÉTODOS DISPONIBLES DE LAS LISTAS
FUNCION DIR

In [ ]:
dir(list)

In [ ]:
numeros = [4, 1, 15, 8, 22, 34, 50]
print(numeros)
numeros.append(99) #agrega un 99
print(numeros)
numeros.clear() #limpia la lista
print(numeros)
#ALTERNATIVA PARA LIMPIAR LISTA
numeros = []  #reescribir los datos de la lista. lista vacia
print (numeros)

frutas = ["uvas", "kiwi", "manzana"]
copia = frutas   #copio los valores de la lista frutas. Hace referencia a la lista por lo que dará los mismos que frutas
#si se modifica frutas, tambien la copia

print( frutas)
print (copia)
frutas.append("naranjas")
 print(frutas)
 print(copia)

colores = ["rojo", "azul", "blanco"]
copia2 =colores.copy()  #con copy, se vuelven independientes, auqnue se modifi
colores.append("verde")
print(colores)
print(copia2)que la primera, la copia no
print(colores)
print(copia2)

In [ ]:
#EXTEND

nombre = ["jose", "pedro", "karina"]
otrosNombres = ["josue", "diana", "dalia"]
print(nombre)
print(otrosNombres)
nombres = nombre + otrosNombres   #concatenar las dos listas
print(nombres)
print(otrosNombres)
#TAMBIÉN SE PUEDE CONCATENAR CON FUNCION EXTEND
otrosNombres.extend ( ["jesus", "maria", "jose"])
print(otrosNombres)

#INDEX
print("Jesus esta en la posicion:" , otrosNombres.index("jesus"))

#iNSERT TE PERMITE INSERTAR VALORES EN UNA PASICION Y LOS RECORRE HACIA LA IZQUIERDA
otrosNombres.insert(4, "espiritu santo")
print(otrosNombres)

#POP saca el ultimo elemento y te lo regresa
resultado = otrosNombres.pop()
print(otrosNombres)
print(resultado)

#TUPLAS

#CARACTERISTICAS DE LAS TUPLAS

- datos agrupados
- Se declara usando #
  - () con parentesis
  - tuple () con el constructor
- Estructura secuencial, indexada a partir de 0
- pueden tener de 0 a n elementos
- NO SON MUTABLES (no se puede: eliminar y/o cambiar)
- Son buenas para almacenar información de consulta
-Pueden almacenar info. de diferentes tipos de dato
- Pueden ser anidadas
- Tienen métodos útiles

In [ ]:
info = ("juan23", "dios1234" , "123.232.1.12")
print(info)
print(info[1])

numeros = (0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15)
print(numeros)
print(numeros[5:11])

cosas = (info, numeros) # SE PUEDEN ANIDAR TUPLAS

print(cosas)
print(cosas[0][2][4:7])

print(cosas[0][2][-8:-5])

('juan23', 'dios1234', '123.232.1.12')
dios1234
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15)
(5, 6, 7, 8, 9, 10)
(('juan23', 'dios1234', '123.232.1.12'), (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15))
232
232

#MÉTODOS DE LAS TUPLAS
Son los mismosde las lisas pero los que no invlucren mutabilidad (ya que las duplas no se pueden modificar) 
sus métodos son count, index

#DICCIONARIOS
### CARACTERISTICAS DE LOS DICCIONARIOS

- Agrupan datos pero de forma no lineal (en listas y tuplas es lineal, uno detras de otro, por eso se indexaban)
- Se declaran ^
    - {}
    - dict()
- Formado por pares del tipo llave:valor, donde: 
    - Llave es de tipo string (siempre)- es un identificador, el nombvre que se le va a dar al valor
   -Valor puede ser cualquier tipo de dato incluyendo los diccionarios
- Se seleccionan con la llave de la forma: ["id_llave"]
- Son mutables
- Son anidables
- Son equivalentes al tipo de dato JSON del lenguaje JavaScript (JS)

In [ ]:
alumno = { "nombre" : "José" }
print (alumno)
print (alumno ["nombre"] )

alumno = { "nombre" : "José" , "nc" : "2129229292", "edad":18 }
print ("Edad del alumno =", alumno ["edad"] )

print(alumno["nombre"].upper())

#declarar diccionario con dict (segunda forma)
alumno2 =dict () #se declara diccionario vacio y se pueden ir agregando valores
alumno2 ["nombre"] = "jose"
print(alumno2)
alumno2 ["nc"] = "2129229292"
alumno2 ["edad"] = "18"
print(alumno2)
#alumno2 ["edad"] = alumno2["edad"] + 1
#print(alumno2)

{'nombre': 'José'}
José
Edad del alumno = 18
JOSÉ
{'nombre': 'jose'}
{'nombre': 'jose', 'nc': '2129229292', 'edad': '18'}

In [ ]:
cliente = {"id":"CT2121", 
           "nombre":"JOsé Pedroza Rosales", #SE PUEDE IR AGREGANDO SALTO DE LINEA PARA VISUALIZAR TODOS LOS DATOS. EN DICCIONARIOS ES POSIBLE
           "telefonos":"casa = 55445455562 cel=0445585968582" } 
print (cliente)
cliente = {"id":"CT2121", 
           "nombre": {
               "nombres" : ["José", "Eduardo"], #usa lista dentro del diccionario
               "paterno" : "Pedroza",
               "materno" : "Rosales"
           },
           "telefonos" : {
               "casa" : "55445455562",    #diccionario dentro de un diccionario
               "trabajo" : "55245244521",
               "celular" : "0445525234252" 
           },
           "productos" : {       #se usa un diccionario donde se incorporan diccionarios
                    "ahorros" : {"numero_cuenta":"7788", "ahorro": 2500.5},
                    "tarjetas" : [
                                  {"tipo":"debito", "saldo" :10000.5},
                                  {"tipo":"credito preferente", "limite":25000.5},
                                  {"tipo":"lite" , "limite":15000.5}
                                ]
           },
                 "dirección" :  {
                     "calle":"Av. Central",
                     "numero":1245,
                     "colonia":"Impulsora",
                     "delegación": "neza",
                     "estado" : {
                          "clave" :15,
                          "nombre_corto":"EdoMex",
                          "nombre":"EStado de México" 
                          }
                          }
               
           }
print(cliente["telefonos"]["casa"]) 
print(cliente)
print(cliente["productos"]["ahorros"]["ahorro"])
#limite de credito de le LITE
print( cliente ["productos"]["tarjetas"][2]["limite"]) #el 2 es del inmdexado de la lista
#DIRECCIÓN DEL CLIENTE EN MAYUSCULAS

print(cliente["dirección"]["estado"]["nombre"].upper())

{'id': 'CT2121', 'nombre': 'JOsé Pedroza Rosales', 'telefonos': 'casa = 55445455562 cel=0445585968582'}
55445455562
{'id': 'CT2121', 'nombre': {'nombres': ['José', 'Eduardo'], 'paterno': 'Pedroza', 'materno': 'Rosales'}, 'telefonos': {'casa': '55445455562', 'trabajo': '55245244521', 'celular': '0445525234252'}, 'productos': {'ahorros': {'numero_cuenta': '7788', 'ahorro': 2500.5}, 'tarjetas': [{'tipo': 'debito', 'saldo': 10000.5}, {'tipo': 'credito preferente', 'limite': 25000.5}, {'tipo': 'lite', 'limite': 15000.5}]}, 'dirección': {'calle': 'Av. Central', 'numero': 1245, 'colonia': 'Impulsora', 'delegación': 'neza', 'estado': {'clave': 15, 'nombre_corto': 'EdoMex', 'nombre': 'EStado de México'}}}
2500.5
15000.5
ESTADO DE MÉXICO