<a href="https://colab.research.google.com/github/CarmenSosaO/CyPg1157/blob/main/FundamentosCyP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [19]:
import sys
nombre = "José" # Tipo de dat String  (cadena de caracteres)
print( nombre )
edad = 19
print ("tu edad es:", edad)
sys.getsizeof (edad)

numero = 5.0
numero = numero**2
print(numero)

José
tu edad es: 19
25.0

# Tipos de dato en Python
### Tipos simples
- str --> String cadena de caracteres
- int --> Números enteros
- float --> Núneros con notación de punto flotante
- complex --> Números complejos resultan de la factorización de raices negativas
- bool --> Boleano (True or False)
- byte --> 8 bits

### Tipos de datos estructurados (compuestos)
- list --> Listas (Arreglos en otros leng)
- tuple --> Listas no mutables
- dict --> diccionarios
- set y frozenset --> Conjuntos
#TIPOS DE DATO NUMÉRICO INT Y FLOAT
El tipo de dato INT utiliza difernte cantidad de bits según el lenguaje de programación. Por ejemplo C utiliza 16 bits

In [ ]:
estatura = 1.56
print (estatura)
print(sys.getsizeof(estatura))
estatura = estatura +0.1
print (estatura)
print (round(estatura,2))
edad=21
edad/=2
print("la mitad de tu edad es:", edad)
numero = numero*3
print (numero)
numero = 5.0
numero = numero**2
print (numero)

1.56
24
1.6600000000000001
1.66
la mitad de tu edad es: 10.5
225.0
25.0

###OPERADOR MODULO
DA COMO RESULTADO EL RESIDUO DE UNA DIVISIÓN. NORMALMENTE EN TODOS LOS LENGUAJES DE PROGRAMACIÓN SE USA %

In [ ]:
numero = 21
print (numero/2)
print (numero//2)
print (numero%2)

10.5
10
1

###DIFERENCIAS

In [ ]:
numero =24
print("24 es diferente de 23=", numero!=23)
print("24 es mayor que 23=", numero >23)
print("24 es menor que 23=", numero <23)
print("24 es mayor o igual que 23=", numero >=23)
print("24 es menor o igual que 23=", numero <=23)

24 es diferente de 23= True
24 es mayor que 23= True
24 es menor que 23= False
24 es mayor o igual que 23= True
24 es menor o igual que 23= False

###TIPO DE DATO STRING (STR)
-Se maneja como arreglo (tipo de dato compuesto)
-Se puede acceder a los elementos del string por medio del índice del cracater
-Es mutable
-Tiene métodos útiles (potentes
-Slicing

In [ ]:
nombre ='jose'
carrera ="ingenieria en computación"
frase= """ El coonocimeinto
me persigue...
pero
yo soy más rápido"""
print (nombre)
print(carrera)
print(frase)
#La función type de Python te devuielve el tupo de datode una variable (excpresión)

jose
ingenieria en computación
 El coonocimeinto
me persigue...
pero
yo soy más rápido

Una clase (class) es un tipo de dato compuesto

In [ ]:
carrera = "ingeniería en computación"
print (carrera)
print(carrera[8])
print(carrera[24])
print(carrera[-1])
print(carrera[-25])

#EL INDEXADO NEGATIVO COMINEZA EN -1
#ADELANTANDO EL TEMA FOR

for letra in carrera:
  print("-->" ,letra, "<--")

ingeniería en computación
í
n
n
i
--> i <--
--> n <--
--> g <--
--> e <--
--> n <--
--> i <--
--> e <--
--> r <--
--> í <--
--> a <--
-->   <--
--> e <--
--> n <--
-->   <--
--> c <--
--> o <--
--> m <--
--> p <--
--> u <--
--> t <--
--> a <--
--> c <--
--> i <--
--> ó <--
--> n <--

#A la sintaxis escrita para elegur un elemento de un grupo de datos se llama selector

En el caso de Strings y listas (lst) se usan '[' y ']'
1. En todos los lenguajes los arreglos inician en 0
2. En Python no existe como tal el tipo de dato arreglo, el concepto es sustituido por listas
3. Los strings se comportan como un arreglo en la mayoría de los lenguajes
4. En Python se acepta en indexado negativo, en otros lenguajes NO

#SLICING (REBANADO DE CADENAS)

Permite seleccionar subcadenas con el operador 
###[inicio: stop : incremento ]
El stop no se incluye, es por eso que debemos agregar una posición extra

###Slicing y valores por defecto
Inicio por defecto siempre serpa 0
stop: rtamaño dle arreglo (indexado positivo) y será 0 en indexado negativo

Incremento: por defecto es 1 (indexado positivo)

In [ ]:
carrera = "ingeniería en computación"
print (carrera[0:10:1])  #el 0 y el 1 es por defecto (incio  e incremento)
print (carrera[14:25:1])
#lo mismo pero con indexado negativo
print (carrera[-11:-1:1])

ingeniería
computación
computació

In [ ]:
carrera = "ingeniería en computación"
print (carrera[0:10:1])  #el 0 y el 1 es por defecto (incio  e incremento)
print (carrera[14:25:1])

print (carrera[:10:]) # es lo mismo que el primero sin los valores por defecto
print("INDEXADO NEGATIVO")
#lo mismo pero con indexado negativo
print (carrera[-11:-1:1])
#se deja el valor por defecto para que incluya la n
print (carrera[-11::1])

#UN EJERCICIO MÁS PARA VER INCREMENTO
print (carrera[0:10:2]) #va a ir de 2 en 2
#al reves la palabra computación
#lo mismo pero con indexado negativo
print (carrera[-1:-12:-1]) #indexado negativo
print (carrera[25:13:-1]) #positivo

ingeniería
computación
ingeniería
INDEXADO NEGATIVO
computació
computación
igneí
nóicatupmoc
nóicatupmoc

#STRING Y SUS MÉTODOS
Todos los tipos de datos en Python son objetos (CLASES DE LA PROGRAMACIÓN ORIENTADA A OBJETOS)
Lo cual significa que tiene atributos y métodos
1. dir() y help() funciones para obtener ayuda del lenguaje Python

2. dir muestra las funciones de un tipo de dato como reusmen
3. help muestra la misma ayuda pero a detalle

Los métodos que inician con doble guión bajo son privados de uso interno de la clase y no deberiamos usarlos

Todos los demás son para uso exterior(usuario)

In [ ]:
frutas = " limón , fresa, manzana  , aguacate  "
nombre ="jose"
print (frutas)
print (frutas.replace( 'a' , '4').replace('e','3').upper()) #puedo encadenas métodos
print(frutas) #pero el valor de frutas sigue igual

 limón , fresa, manzana  , aguacate
 LIMÓN , FR3S4, M4NZ4N4  , 4GU4C4T3
 limón , fresa, manzana  , aguacate

In [ ]:
frutas = " limón , fresa, manzana  , aguacate  "
nombre ="jose"
print (frutas)
dir(frutas) #despliega métodos (concepto de programacion orientada a objetos)
# un método es el tipo de cosa que hace un objeto
print (nombre.capitalize()) #primera mayúscula
print (nombre.upper()) #todas mayúsculas
print (frutas.replace( 'a' , '4'))
help(str) #indica qué hace cada método de la clase seleccionada, en este caso str

In [ ]:
frutas = " limón , fresa, manzana  , aguacate  "
frutas = frutas.replace( 'a' , '4').replace('e','3').upper() #sustituye los valores originales por los nuevos
print (frutas)
frutas = " limón , fresa, manzana  , aguacate  "
print(frutas.strip()) #elimina la basura
print(frutas.split()) #separa cada elemento. por defecto, separa por espacio
#puedes indicar cuál es el criterio de separación
print(frutas.index("n"))

 LIMÓN , FR3S4, M4NZ4N4  , 4GU4C4T3
limón , fresa, manzana  , aguacate
['limón', ',', 'fresa,', 'manzana', ',', 'aguacate']
5

#DIFERENCIA ENTRE MÉTODO FIND E INDEX
la función index() devuelve error cuando falta el caracter que pusiste

#STRING Y CARACTERES DE ESCAPE
Para imprimir un caracter especial 
"Jose"

Al colocar la diagonal antes, permite que se impriman los caracteres que se colocan después

*   \\"--> " 
*   \\'--> '
*   \n-->Salto de línea (tecla enter)
*   \t --> tabulador espacios a la izquierda
*   \uxxxx--> caracteres unicode 16 bits (2bytes)
*   \Uxxxxxxxx-->unicode extendido (4bytes)
*   \\\ -->\

In [5]:
print(" \"jose\" ")
nombre = " \"jose\" "
print(nombre)
carrera = "Ingenieria \n\ten \n\t\tComputación"
print(carrera)
#PARA REPRESENTAR UN CARACTERE UNICODE

print("\u0065") #es el unicode de la e
print("\u0444")
print("\u0620")

#unicode extendido con U mayuscula y deben existir 8 posiciones,
#si la tabla tiene menos digitos, rerllenar a la izquiera con ceros

print("\U00010057")
print("\U0001F60E")
print("\U0001F9A0")

 "jose"
 "jose"
Ingenieria
	en
		Computación
e
ф
ؠ
𐁗
😎
🦠

#FUNCIÓN PRINT
### Se emplea para desplegar información en la salida estándar. Normalmente un monitor.
- Formas de usar print
- El argumento por defecto por defecto de print(end)
- format ()
-Operador f" "

In [18]:
nombre = "José"
edad = 18
casado = False
estatura = 1.67


# 1. con comas- concatena haviendo un casting (conversión a string automático)
#agrga un espacio
print(nombre , edad , casado , estatura)

"""
Para generar

Nombre: Jose
  Edad: 18
  Está casado: False
  EStatura en metros: 1.67

"""
print("Nombre: " + nombre + "\n\tEdad: " + str(edad)  + "\n\tEsta casado:" + str ( casado))
# 2. Con el símbolo de suma "+"
#concatenación en crudo. El casting no se hace automático.
#conversión entre tipos se hace manual, en este caso, convertir todo a string
#NO AGREGA ESPACIOS AUTOMÁTICAMENTE
print(nombre+ " " +str(edad) + " " + str(casado) + " " , str(estatura))

# Dando formato a la salida con formato ()

print("Nombre: {}\n\tEdad: {}\n\tEstá casado: {}\n\tEstatura en metros: {}". format(nombre, edad,casado,estatura))
#si no se coloca número entre las llaves, no se coloca indice y respeta el orden que establece format

# se puede establecer el orden colocando el índice entre las llaves (colocar el numero de variable)
print("Nombre: {3}\n\tEdad: {2}\n\tEstá casado: {1}\n\tEstatura en metros: {0}". format(nombre, edad,casado,estatura))

#4. con el oerador f " " (mejora a format)
print("\ncon el operador f\"\"")
print(f"Nombre: {nombre}\n\tEdad: {edad}\n\tEstá casado: {casado}\n\tEstatura en metros: {estatura}")
#como manejar el argumento end
print(f"hola {nombre}")
print(", cómo estás?")
#sobre escribir el valor por defecto de end que es salto de linea
print(f"hola {nombre}" , end="" )  
print(", cómo estás?", end="\n" )

José 18 False 1.67
Nombre: José
	Edad: 18
	Esta casado:False
José 18 False  1.67
Nombre: José
	Edad: 18
	Está casado: False
	Estatura en metros: 1.67
Nombre: 1.67
	Edad: False
	Está casado: 18
	Estatura en metros: José

con el operador f""
Nombre: José
	Edad: 18
	Está casado: False
	Estatura en metros: 1.67
hola José
, cómo estás?
hola José, cómo estás?

#Con una sola función POR LETRA print, escribir su primer nombre (nombre de pila) de la siguiente forma

C C C C
C 
C           
C          
C C C C